---
title: "Kogukondlikud arutelud #kuidasmekestame"
page: home
---
%header#header
	%center
		%h1= item[:title]

%section#welcome.white-section
	%center
		%iframe(src="https://player.vimeo.com/video/296874043"
			frameborder="0"
			webkitallowfullscreen
			mozallowfullscreen
			allowfullscreen)

		%p.paragraph
			<strong>Teadlased ennustavad Eestile lähemateks kümnenditeks rahvaarvu
			jätkuvat ja olulist kahanemist.</strong> Kahanev rahvaarv võib kujutada tõsist
			ohtu meie riigi harjumuspärasele toimimisele ning keele, kultuuri ja
			elukeskkonna säilimisele.

		%p.paragraph
			Tule ja osale Eesti rahvastiku teemalises arutelus ning ideekorjes,
			et saaksid sündida kokkulepped ja lahendused, 
			mis on vajalikud elujõulise Eesti tagamiseks!

		%menu
			%a.blue-button(href="/algatusest/") Loe rohkem
			%a.green-button(href="/o-nas/") Подробнее
			%a.orange-button(href="/tulemused/") Tulemused

%section#join.grey-section
	- discussions = read_discussions(@items["/discussions.csv"])
	- problems = read_problems(@items["/problems.csv"])
	- past_people_count = discussions.select(&:past?).map(&:people_count).sum
	- ideas_count = problems.values.flatten.map(&:solutions).map(&:size).sum

	%center
		%h2.subheading Algatuses sai igaüks osaleda

		%ul
			%li.join-through
				%img(src="/assets/icon-calendar.svg")
				%p.paragraph
					Toimus #{discussions.size} kogukondlikku arutelu rahvastikutrendide mõtestamiseks ja probleemidele lahenduste leidmiseks.
				%a.blue-button(href="/arutelud/") Loe rohkem

			%li.join-through
				%img(src="/assets/icon-faces.svg")
				%p.paragraph
					Aruteludel osales #{past_people_count} inimest, kes pakkusid ideekorjesse #{ideas_count} lahendusideed.
				%a.blue-button(href="/tulemused/") Loe rohkem

			%li.join-through
				%img(src="/assets/icon-laptop.svg")
				%p.paragraph
					Veebi kaudu esitati veel hulk täiendavaid lahendusideid.
				%a.blue-button(href="/tulemused/") Loe rohkem

%section#results.white-section
	%center
		%h2.subheading Lahendused probleemide kaupa
		%p.paragraph
			Arutelude vormis korraldatud ideekorje aitas kaardistada ligi sada lahendusteed, ettepanekuid lisandus ka veebipõhise ideekorje kaudu. Väljapakutud lahenduskäike saab uurida lahendatavate probleemide kaupa, number probleemi ees viitab lahenduste arvule. Konkreetsed ettepanekud vormuvad kogutud mõtetest veebruari lõpuks - peale materjali sünteesi, ekspertide mõjuhinnanguid ning 2019. aasta algusesse plaanitud ühisloomet.

		= render "/_solutions.haml", problems: problems

		%p.centered
			%a.blue-button(href="/tulemused/") Vaata tagasisidet

