---
title: Arutelude kalender
page: calendar
---
%header#header.text-header
	%center
		%h1= item[:title]

%section#video
	%center
		%iframe(src="https://player.vimeo.com/video/296874043"
			frameborder="0"
			webkitallowfullscreen
			mozallowfullscreen
			allowfullscreen)

%section.white-section.text-section
	%center= @items["/kalender.md"].compiled_content(snapshot: :text)

- discussions = read_discussions(@items["/discussions.csv"])
%section#map
	%center= render "/_map.haml", discussions: discussions

%section#discussions.white-section.text-section
	%center
		%h2.subheading Arutelude nimekiri

		- discussions = discussions.group_by {|d| d.state}
		- states = discussions.keys.sort {|a, b| a == "Harjumaa" ? -1 : a <=> b}
		- states.each do |state|
			%h3= state
			- future = discussions[state].select(&:future?).sort_by {|d| d.at }
			- past = discussions[state].select(&:past?).sort_by {|d| d.at }.reverse
			- (future + past).each do |discussion|
				= render "/_discussion.haml", discussion: discussion
