:ruby
	SOLVERS = {
		"government" => "Riigile",
		"municipal" => "Kohalikele omavalitsustele",
		"community" => "Kogukondadele"
	}

	CATEGORIES = {
		"population" => "Sündimus",
		"national-migration" => "Eesti-sisene ränne",
		"international-migration" => "Piiriülene ränne",
		"work" => "Tööhõive"
	}

#solutions
	- CATEGORIES.keys.each_with_index do |category, index|
		%input(id="#{category}-solutions-toggle"
			name="solutions"
			type="radio"
			hidden){checked: index == 0}

	%nav
		- CATEGORIES.each do |category, title|
			%label(for="#{category}-solutions-toggle")= title

	- solutions_by_category.each do |category, solutions_by_solver|
		.solutions-of(id="#{category}-solutions")
			- solutions_by_solver.each do |solver, solutions|
				.solutions-for
					%h3
						%span.category= CATEGORIES[category] + ": "
						= SOLVERS[solver]

					%ol.solutions
						- solutions.each do |solution|
							%li.solution
								- if solution.problem
									%input(id="#{solution.id}-solution" type="checkbox" hidden)

								- klass = solution.problem ? "with-details" : ""
								%label(for="#{solution.id}-solution"){class: klass}
									- if solution.problem
										%i.chevron

									%p= solution.text

								- if solution.problem
									.solution-details
										%p= solution.problem

										- unless solution.links.empty?
											%h4 Ettepanek edasi suunatud:

											%ul.solution-links
												- solution.links.each do |name, url|
													%li
														- if url
															%a(href=url)= name
														- else
															= name
